Repository phingofficial/phing, pull requests merged in 2020-11, with the labels that each got.

#1425 SonarConfigurationFileParser tests fail on cygwin (Windows)
  classes/phing/tasks/ext/sonar/SonarConfigurationFileParser.php
  test/classes/phing/tasks/ext/sonar/SonarConfigurationFileParserTest.php
Labels: feedback

#1428 Delete unused.
  composer/bin/phing
Labels: cleanup, core

#1429 [PHPUnitReportTask] Fixed windows detection
  classes/phing/tasks/ext/phpunit/PHPUnitReportTask.php
  composer.lock
  custom.task.properties
Labels: defect, ext tasks

#1432 Added coverage-* related test setup
  test/classes/phing/tasks/ext/CoverageMergeTest.php
  test/etc/tasks/ext/coverage/build.xml
  test/etc/tasks/ext/coverage/test-1/src/Dummy1.php
  test/etc/tasks/ext/coverage/test-1/test/Dummy1Test.php
  test/etc/tasks/ext/coverage/test-2/src/Dummy2.php
  test/etc/tasks/ext/coverage/test-2/test/Dummy2Test.php
  test/etc/tasks/ext/coverage/test-3/src/Dummy3.php
  test/etc/tasks/ext/coverage/test-3/test/Dummy3Test.php
Labels: added tests

#1433 [PHPUnitTask] Added missing halton* methods.
  classes/phing/tasks/ext/phpunit/PHPUnitTask.php
Labels: enhancement, ext tasks

#1434 [PHPUnitTask] Added failure handling for risky and warning tests
  classes/phing/tasks/ext/phpunit/PHPUnitTask.php
Labels: enhancement, ext tasks

#1435 [PHPUnitResultFormatter] Added warning and risky counter
  classes/phing/tasks/ext/phpunit/formatter7/PHPUnitResultFormatter7.php
Labels: enhancement, ext tasks

#1437 [CoverageMergerTask] Fixed code coverage handling
  classes/phing/tasks/ext/phpunit/PHPUnitTestRunner8.php
  composer.lock
  test/classes/phing/tasks/ext/CoverageMergeTest.php
Labels: defect, ext tasks

#1438 [PHPUnitResultFormatter] Added risky test counter to summary
  classes/phing/tasks/ext/phpunit/formatter7/SummaryPHPUnitResultFormatter7.php
Labels: enhancement, ext tasks

#1439 [PlainPHPUnitResultFormatter] Added risky counter
  classes/phing/tasks/ext/phpunit/formatter7/PlainPHPUnitResultFormatter7.php
  test/classes/phing/tasks/ext/PHPUnitTaskTest.php
Labels: enhancement, ext tasks

#1441 [core] Added PHP 8.0 and 8.1 snapshot to travis
  .travis.yml
Labels: PHP compat, core, dependencies

#1440 Fix deprecated ReflectionParameter::getClass()
  classes/phing/IntrospectionHelper.php
Labels: PHP compat, core

#1442 [core] Fixed tests
  classes/phing/system/io/OutputStream.php
  test/classes/phing/components/ExtensionPointTest.php
  test/classes/phing/regression/ExcludeZipTest.php
  test/classes/phing/system/FileOutputStreamTest.php
  test/classes/phing/tasks/PropertyTaskTest.php
  test/classes/phing/tasks/condition/PhingTaskTest.php
  test/classes/phing/tasks/ext/CoverageMergeTest.php
  test/classes/phing/tasks/ext/GitTasks/GitBaseTest.php
  test/classes/phing/tasks/ext/GitTasks/GitPullTaskTest.php
  test/classes/phing/tasks/ext/GrowlNotifyTaskErrorTest.php
  test/classes/phing/tasks/ext/PHPUnitTaskTest.php
  test/classes/phing/tasks/ext/PhpCSTaskTest.php
  test/classes/phing/tasks/ext/WikiPublishTaskTest.php
  test/classes/phing/tasks/ext/sonar/SonarTaskTest.php
  test/classes/phing/tasks/system/DependSetTest.php
  test/classes/phing/tasks/system/PathConvertTest.php
  test/classes/phing/tasks/system/XsltTaskTest.php
  test/classes/phing/types/MapperTest.php
  test/classes/phing/types/TaskdefForCopyTest.php
  test/classes/phing/util/DirectoryScannerTest.php
  test/classes/phing/util/regexp/PregEngineTest.php
Labels: PHP compat, core

#1443 [PHPUnitTask] Removed includes
  classes/phing/tasks/ext/phpunit/PHPUnitTask.php
Labels: cleanup, ext tasks

#1444 [DeleteTask] Fixed that only variables can be passed by reference.
  classes/phing/tasks/system/DeleteTask.php
Labels: defect, system tasks

#1445 [core] Work on PHP 8
  .travis.yml
  classes/phing/filters/StripPhpComments.php
  composer.json
  composer.lock
  test/classes/phing/filters/util/StripPhpCommentsTest.php
Labels: PHP compat, cleanup, core

#1436 Add new optional clover-html formatter.
  classes/phing/tasks/ext/phpunit/FormatterElement.php
  classes/phing/tasks/ext/phpunit/PHPUnitTask.php
  classes/phing/tasks/ext/phpunit/PHPUnitTestRunner9.php
  classes/phing/tasks/ext/phpunit/formatter9/CloverHtmlPHPUnitResultFormatter9.php
  test/build.xml
  test/phpunit-sparse.xml
Labels: ext tasks

#1447 [core] Removed unused excludes in test build.
  test/build.xml
Labels: cleanup, core

#1448 [PHPUnitTask] renamed formatter
  classes/phing/tasks/ext/phpunit/FormatterElement.php
  classes/phing/tasks/ext/phpunit/formatter/CloverHtmlPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/CloverPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/Crap4JPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/PHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/PlainPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/SummaryPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/XMLPHPUnitResultFormatter.php
  test/classes/phing/tasks/ext/PHPUnitTaskTest.php
Labels: cleanup, ext tasks

#1451 [PHPUnitTask] Fixed processIsolation setting
  classes/phing/tasks/ext/phpunit/PHPUnitTestRunner9.php
Labels: defect, ext tasks

#1455 [PHPUnitTask] Added haltondefect argument
  classes/phing/tasks/ext/phpunit/PHPUnitTask.php
  etc/phing-grammar.rng
Labels: enhancement, ext tasks

#1457 Changed arg passed to phploc
  test/etc/tasks/system/ExecTest.xml
Labels: defect, ext tasks
