Repository phingofficial/phing, pull requests merged in 2020-01, with the labels that each got.

#1225 Added custom task/type support
  classes/phing/ComponentHelper.php
  classes/phing/tasks/defaults.properties
  classes/phing/tasks/ext/apigen/ApiGenTask.php
  composer.json
  composer.lock
  custom.task.properties
  custom.type.properties
Labels: core, enhancement

#1228 Moved Liquibase Tasks to an ext repo.
  classes/phing/tasks/defaults.properties
  classes/phing/tasks/ext/liquibase/AbstractLiquibaseTask.php
  classes/phing/tasks/ext/liquibase/LiquibaseChangeLogTask.php
  classes/phing/tasks/ext/liquibase/LiquibaseDbDocTask.php
  classes/phing/tasks/ext/liquibase/LiquibaseDiffTask.php
  classes/phing/tasks/ext/liquibase/LiquibaseParameter.php
  classes/phing/tasks/ext/liquibase/LiquibaseProperty.php
  classes/phing/tasks/ext/liquibase/LiquibaseRollbackTask.php
  classes/phing/tasks/ext/liquibase/LiquibaseTagTask.php
  classes/phing/tasks/ext/liquibase/LiquibaseTask.php
  classes/phing/tasks/ext/liquibase/LiquibaseUpdateTask.php
  composer.json
  composer.lock
  custom.task.properties
Labels: cleanup, core, ext tasks

#1229 Removed ExportPropertiesTask in favor of EchoProperties task
  classes/phing/tasks/defaults.properties
  classes/phing/tasks/ext/ExportPropertiesTask.php
  composer.lock
  docs/guide/en/source/appendixes/optionaltasks.xml
  etc/phing-grammar.rng
Labels: cleanup, core, ext tasks

#1230 Moved coverage tasks to new repo
  classes/phing/tasks/defaults.properties
  classes/phing/tasks/ext/coverage/CoverageMerger.php
  classes/phing/tasks/ext/coverage/CoverageMergerTask.php
  classes/phing/tasks/ext/coverage/CoverageReportTask.php
  classes/phing/tasks/ext/coverage/CoverageReportTransformer.php
  classes/phing/tasks/ext/coverage/CoverageSetupTask.php
  classes/phing/tasks/ext/coverage/CoverageThresholdTask.php
  classes/phing/tasks/ext/phpunit/PHPUnitTestRunner7.php
  classes/phing/tasks/ext/phpunit/PHPUnitTestRunner8.php
  composer.json
  composer.lock
  custom.task.properties
Labels: cleanup, core, ext tasks

#1236 [DiagnosticsTask] Fixed composer warning.
  classes/phing/Diagnostics.php
Labels: defect

#1237 Added support for creating custom attributes in the parsing phase.
  classes/phing/IntrospectionHelper.php
  classes/phing/parser/DynamicAttribute.php
  classes/phing/parser/DynamicConfigurator.php
  classes/phing/tasks/system/DynamicTask.php
  test/classes/phing/tasks/system/DynamicTest.php
  test/etc/tasks/system/DynamicTest.xml
Labels: core, enhancement

#1238 Added echoxml task
  classes/phing/tasks/defaults.properties
  classes/phing/tasks/system/EchoXML.php
  classes/phing/util/XMLChild.php
  classes/phing/util/XMLFragment.php
  docs/guide/en/source/appendixes/coretasks.xml
  etc/phing-grammar.rng
  test/classes/phing/tasks/system/EchoXMLTest.php
  test/etc/tasks/system/echoxml.xml
Labels: enhancement, task

#1239 Added regression tests
  test/classes/phing/tasks/system/ConditionTaskTest.php
  test/etc/tasks/system/ConditionTest.xml
Labels: added tests, core

#1243 [PhingCallTask] set target on callee
  classes/phing/tasks/system/PhingCallTask.php
Labels: core, defect, system tasks

#1244 Provide --config-option switch for svn tasks
  classes/phing/tasks/ext/svn/SvnBaseTask.php
  docs/guide/en/source/appendixes/optionaltasks.xml
  etc/phing-grammar.rng
  test/classes/phing/tasks/ext/svn/SvnExportTaskTest.php
  test/etc/tasks/ext/svn/SvnExportTest.xml
Labels: enhancement, ext tasks, needs documentation, needs tests

#1246 Moved FtpDeployTask to own repo
  classes/phing/tasks/defaults.properties
  classes/phing/tasks/ext/FtpDeployTask.php
  composer.json
  composer.lock
  custom.task.properties
Labels: cleanup, core, ext tasks

#1247 Simplify visualizer tests
  test/classes/phing/tasks/ext/VisualizerTaskTest.php
  test/etc/tasks/ext/visualizer/VisualizerTaskTest.xml
Labels: defect, ext tasks

#1248 Moved PhkPackageTask to own repo.
  classes/phing/tasks/defaults.properties
  classes/phing/tasks/ext/phk/PhkPackageTask.php
  classes/phing/tasks/ext/phk/PhkPackageWebAccess.php
  classes/phing/tasks/ext/phk/PhkPackageWebAccessPath.php
  composer.json
  composer.lock
  custom.task.properties
Labels: cleanup, dependencies, ext tasks
