Repository phingofficial/phing, pull requests merged in 2021-02, with the labels that each got.

#1526 Moved analyzer tasks to own repo
  classes/phing/tasks/ext/pdepend/PhpDependAnalyzerElement.php
  classes/phing/tasks/ext/pdepend/PhpDependLoggerElement.php
  classes/phing/tasks/ext/pdepend/PhpDependTask.php
  classes/phing/tasks/ext/phpcpd/PHPCPDFormatterElement.php
  classes/phing/tasks/ext/phpcpd/PHPCPDTask.php
  classes/phing/tasks/ext/phpcpd/formatter/DefaultPHPCPDResultFormatter.php
  classes/phing/tasks/ext/phpcpd/formatter/PHPCPDResultFormatter.php
  classes/phing/tasks/ext/phpcpd/formatter/PMDPHPCPDResultFormatter.php
  classes/phing/tasks/ext/phploc/AbstractPHPLocFormatter.php
  classes/phing/tasks/ext/phploc/PHPLocCSVFormatter.php
  classes/phing/tasks/ext/phploc/PHPLocFormatterElement.php
  classes/phing/tasks/ext/phploc/PHPLocFormatterFactory.php
  classes/phing/tasks/ext/phploc/PHPLocJSONFormatter.php
  classes/phing/tasks/ext/phploc/PHPLocTask.php
  classes/phing/tasks/ext/phploc/PHPLocTextFormatter.php
  classes/phing/tasks/ext/phploc/PHPLocXMLFormatter.php
  classes/phing/tasks/ext/phpmd/PHPMDFormatterElement.php
  classes/phing/tasks/ext/phpmd/PHPMDRendererRemoveFromCache.php
  classes/phing/tasks/ext/phpmd/PHPMDTask.php
  classes/phing/tasks/ext/phpstan/CommandBuilder/PHPStanAnalyseCommandBuilder.php
  classes/phing/tasks/ext/phpstan/CommandBuilder/PHPStanCommandBuilder.php
  classes/phing/tasks/ext/phpstan/CommandBuilder/PHPStanCommandBuilderFactory.php
  classes/phing/tasks/ext/phpstan/CommandBuilder/PHPStanHelpCommandBuilder.php
  classes/phing/tasks/ext/phpstan/CommandBuilder/PHPStanListCommandBuilder.php
  classes/phing/tasks/ext/phpstan/PHPStanTask.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
  tests/Phing/Task/Optional/PHPStan/PHPStanAnalyseCommandBuilderTest.php
  tests/Phing/Task/Optional/PHPStan/PHPStanCommandBuilderFactoryTest.php
  tests/Phing/Task/Optional/PHPStan/PHPStanCommandBuilderFake.php
  tests/Phing/Task/Optional/PHPStan/PHPStanCommandBuilderTest.php
  tests/Phing/Task/Optional/PHPStan/PHPStanHelpCommandBuilderTest.php
  tests/Phing/Task/Optional/PHPStan/PHPStanListCommandBuilderTest.php
  tests/Phing/Task/Optional/PHPStan/PHPStanTaskAssert.php
  tests/Phing/Task/Optional/PHPStan/PHPStanTaskUnitTest.php
Labels: cleanup, core, ext tasks

#1527 Moved SonarTask to own repo
  classes/phing/tasks/ext/sonar/SonarConfigurationFileParser.php
  classes/phing/tasks/ext/sonar/SonarProperty.php
  classes/phing/tasks/ext/sonar/SonarTask.php
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
  tests/Phing/Task/Optional/SonarConfigurationFileParserTest.php
Labels: cleanup, core, ext tasks

#1528 Moved PhpUnitTask to own repo
  classes/phing/tasks/ext/phpunit/BatchTest.php
  classes/phing/tasks/ext/phpunit/FormatterElement.php
  classes/phing/tasks/ext/phpunit/JUnit.php
  classes/phing/tasks/ext/phpunit/PHPUnitReportTask.php
  classes/phing/tasks/ext/phpunit/PHPUnitTask.php
  classes/phing/tasks/ext/phpunit/PHPUnitTestRunner9.php
  classes/phing/tasks/ext/phpunit/PHPUnitUtil.php
  classes/phing/tasks/ext/phpunit/formatter/CloverHtmlPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/CloverPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/Crap4JPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/PHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/PlainPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/SummaryPHPUnitResultFormatter.php
  classes/phing/tasks/ext/phpunit/formatter/XMLPHPUnitResultFormatter.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
Labels: cleanup, core, ext tasks

#1529 Moved SassTask to own repo
  classes/phing/tasks/ext/sass/SassCompiler.php
  classes/phing/tasks/ext/sass/SassTask.php
  classes/phing/tasks/ext/sass/SassTaskCompiler.php
  classes/phing/tasks/ext/sass/SassTaskCompilerFactory.php
  classes/phing/tasks/ext/sass/ScssPhpCompiler.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
  tests/Phing/Task/Optional/Sass/SassCompilerTest.php
  tests/Phing/Task/Optional/Sass/SassTaskAcceptanceTest.php
  tests/Phing/Task/Optional/Sass/SassTaskAssert.php
  tests/Phing/Task/Optional/Sass/SassTaskCompilerFactoryTest.php
  tests/Phing/Task/Optional/Sass/SassTaskUnitTest.php
  tests/Phing/Task/Optional/Sass/ScssPhpCompilerTest.php
Labels: cleanup, core, ext tasks

#1530 Moved aws related tasks to own repo
  .github/workflows/build.yml
  .scrutinizer.yml
  Dockerfile
  bin/phing.php
  build/build.xml
  classes/phing/tasks/ext/Service/Amazon.php
  classes/phing/tasks/ext/Service/Amazon/S3.php
  classes/phing/tasks/ext/Service/Amazon/S3/S3GetTask.php
  classes/phing/tasks/ext/Service/Amazon/S3/S3PutTask.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
  phpstan.neon
  tests/bootstrap.php
  tests/build.xml
Labels: cleanup, core, ext tasks

#1533 [PhingTask] Fixed dot notation
  src/Phing/Task/System/PhingTask.php
Labels: defect, system tasks

#1534 [TryCatchTask] Rectify the logic of the "finally" clause
  src/Phing/Task/System/TryCatchTask.php
  tests/Phing/Task/System/TryCatchTest.php
  tests/etc/tasks/system/TryCatchTest.xml
Labels: defect, task

#1536 [PropertySelector] Fixed group selection
  src/Phing/Task/System/Property/PropertySelector.php
  tests/Phing/Task/System/Property/PropertySelectorTest.php
  tests/etc/tasks/ext/property/PropertySelectorTest.xml
Labels: defect, task

#1535 [core] Fixed deprecation warnings - PHP ^8.1
  src/Phing/PropertyHelper.php
  src/Phing/Util/PregEngine.php
Labels: PHP compat, core

#1537 [ReflexiveTask] Fixed behavior, if file attribute points to a directory.
  src/Phing/Task/System/ReflexiveTask.php
  tests/Phing/Task/System/ReflexiveTaskTest.php
  tests/etc/tasks/system/ReflexiveTaskTest.xml
Labels: added tests, defect, system tasks

#1538 [ReflexiveTask] Added exception for missing filterchain
  src/Phing/Task/System/ReflexiveTask.php
  tests/Phing/Task/System/ReflexiveTaskTest.php
  tests/etc/tasks/system/ReflexiveTaskTest.xml
  tests/etc/tasks/system/template.xml
Labels: enhancement, system tasks
