Repository phingofficial/phing, pull requests merged in 2021-01, with the labels that each got.

#1496 Updated composer dependencies
  composer.lock
Labels: core, dependencies

#1482 Size helper
  classes/phing/Phing.php
  classes/phing/tasks/ext/FileSizeTask.php
  classes/phing/tasks/system/TruncateTask.php
  classes/phing/tasks/system/condition/HasFreeSpaceCondition.php
  classes/phing/types/selectors/SizeSelector.php
  classes/phing/util/SizeHelper.php
  test/classes/phing/PhingTest.php
  test/classes/phing/system/util/SizeHelperTest.php
  test/classes/phing/tasks/ext/FileSizeTaskTest.php
  test/classes/phing/tasks/system/TruncateTaskTest.php
Labels: cleanup, core, enhancement, needs documentation

#1499 Fixed line ending issue on windows
  classes/phing/system/io/BufferedReader.php
Labels: core, defect

#1504 Moved HG tasks to own repo
  classes/phing/tasks/ext/hg/HgAddTask.php
  classes/phing/tasks/ext/hg/HgArchiveTask.php
  classes/phing/tasks/ext/hg/HgBaseTask.php
  classes/phing/tasks/ext/hg/HgCloneTask.php
  classes/phing/tasks/ext/hg/HgCommitTask.php
  classes/phing/tasks/ext/hg/HgInitTask.php
  classes/phing/tasks/ext/hg/HgLogTask.php
  classes/phing/tasks/ext/hg/HgPullTask.php
  classes/phing/tasks/ext/hg/HgPushTask.php
  classes/phing/tasks/ext/hg/HgRevertTask.php
  classes/phing/tasks/ext/hg/HgTagTask.php
  classes/phing/tasks/ext/hg/HgUpdateTask.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
Labels: cleanup, core, ext tasks

#1505 Moved git tasks to own repo
  classes/phing/tasks/ext/git/GitArchiveTask.php
  classes/phing/tasks/ext/git/GitBaseTask.php
  classes/phing/tasks/ext/git/GitBranchTask.php
  classes/phing/tasks/ext/git/GitCheckoutTask.php
  classes/phing/tasks/ext/git/GitCloneTask.php
  classes/phing/tasks/ext/git/GitCommitTask.php
  classes/phing/tasks/ext/git/GitDescribeTask.php
  classes/phing/tasks/ext/git/GitFetchTask.php
  classes/phing/tasks/ext/git/GitGcTask.php
  classes/phing/tasks/ext/git/GitInitTask.php
  classes/phing/tasks/ext/git/GitLogTask.php
  classes/phing/tasks/ext/git/GitMergeTask.php
  classes/phing/tasks/ext/git/GitPullTask.php
  classes/phing/tasks/ext/git/GitPushTask.php
  classes/phing/tasks/ext/git/GitTagTask.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
  tests/classes/phing/tasks/ext/GitTasks/GitBaseTest.php
Labels: cleanup, core, ext tasks

#1508 Use Phing\Type\Element\.*Aware traits
  classes/phing/tasks/ext/ExtractBaseTask.php
  classes/phing/tasks/ext/JslLintTask.php
  classes/phing/tasks/ext/MailTask.php
  classes/phing/tasks/ext/ManifestTask.php
  classes/phing/tasks/ext/PhpCSTask.php
  classes/phing/tasks/ext/PhpLintTask.php
  classes/phing/tasks/ext/RSTTask.php
  classes/phing/tasks/ext/ReplaceRegexpTask.php
  classes/phing/tasks/ext/XmlLintTask.php
  classes/phing/tasks/ext/dbdeploy/DbDeployTask.php
  classes/phing/tasks/ext/pdepend/PhpDependTask.php
  classes/phing/tasks/ext/phpcpd/PHPCPDTask.php
  classes/phing/tasks/ext/phploc/PHPLocTask.php
  classes/phing/tasks/ext/phpmd/PHPMDTask.php
  classes/phing/tasks/ext/phpstan/PHPStanTask.php
  classes/phing/tasks/ext/phpunit/BatchTest.php
  classes/phing/tasks/system/AppendTask.php
  classes/phing/tasks/system/ApplyTask.php
  classes/phing/tasks/system/ChmodTask.php
  classes/phing/tasks/system/ChownTask.php
  classes/phing/tasks/system/CopyTask.php
  classes/phing/tasks/system/DeleteTask.php
  classes/phing/tasks/system/EchoTask.php
  classes/phing/tasks/system/ForeachTask.php
  classes/phing/tasks/system/ImportTask.php
  classes/phing/tasks/system/IncludePathTask.php
  classes/phing/tasks/system/LoadFileTask.php
  classes/phing/tasks/system/PhingTask.php
  classes/phing/tasks/system/PropertyTask.php
  classes/phing/tasks/system/ReflexiveTask.php
  classes/phing/tasks/system/SubPhing.php
  classes/phing/tasks/system/TaskdefTask.php
  classes/phing/tasks/system/TouchTask.php
  classes/phing/tasks/system/TypedefTask.php
  classes/phing/tasks/system/UpToDateTask.php
  composer.lock
  custom.task.properties
  src/Phing/Task.php
  src/Phing/Type/Element/ClasspathAware.php
  src/Phing/Type/Element/DirSetAware.php
  src/Phing/Type/Element/FileListAware.php
  src/Phing/Type/Element/FileSetAware.php
  src/Phing/Type/Element/FilterChainAware.php
  src/Phing/Type/Element/ResourceAware.php
Labels: cleanup, core

#1510 Removed unused imports
  src/Phing/ComponentHelper.php
  src/Phing/ExtensionPoint.php
  src/Phing/IntrospectionHelper.php
  src/Phing/Phing.php
  src/Phing/Project.php
  src/Phing/ProjectComponent.php
  src/Phing/PropertyHelper.php
  src/Phing/RuntimeConfigurable.php
  src/Phing/Target.php
  src/Phing/Task.php
  src/Phing/TaskAdapter.php
  src/Phing/TaskContainer.php
  src/Phing/TypeAdapter.php
  src/Phing/UnknownElement.php
Labels: cleanup, core

#1511 [SassTask] [core] - Fixed Filesystem::listContents for numeric filenames.
  src/Phing/Io/FileSystem.php
  tests/Phing/Io/FileSystemTest.php
  tests/classes/phing/tasks/ext/SassTask/Integration/SassCompilerTest.php
  tests/etc/system/io/testdir/111
Labels: core, defect

#1512 Moved inifile task to own repo
  classes/phing/tasks/ext/inifile/IniFileConfig.php
  classes/phing/tasks/ext/inifile/IniFileGet.php
  classes/phing/tasks/ext/inifile/IniFileRemove.php
  classes/phing/tasks/ext/inifile/IniFileSet.php
  classes/phing/tasks/ext/inifile/IniFileTask.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
  tests/classes/phing/tasks/ext/inifile/IniFileTaskTest.php
Labels: cleanup, ext tasks

#1513 Moved VisualizerTask to own repo
  classes/phing/tasks/ext/visualizer/VisualizerTask.php
  classes/phing/tasks/ext/visualizer/calls.xsl
  classes/phing/tasks/ext/visualizer/footer.xsl
  classes/phing/tasks/ext/visualizer/header.xsl
  classes/phing/tasks/ext/visualizer/targets.xsl
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
Labels: cleanup, ext tasks

#1516 Moved DbdeployTask to own repo
  classes/phing/tasks/ext/dbdeploy/DbDeployTask.php
  classes/phing/tasks/ext/dbdeploy/DbmsSyntax.php
  classes/phing/tasks/ext/dbdeploy/DbmsSyntaxFactory.php
  classes/phing/tasks/ext/dbdeploy/DbmsSyntaxMsSql.php
  classes/phing/tasks/ext/dbdeploy/DbmsSyntaxMysql.php
  classes/phing/tasks/ext/dbdeploy/DbmsSyntaxOracle.php
  classes/phing/tasks/ext/dbdeploy/DbmsSyntaxPgSQL.php
  classes/phing/tasks/ext/dbdeploy/DbmsSyntaxSQLite.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
Labels: cleanup, core, ext tasks

#1518 Move archive tasks
  classes/phing/tasks/ext/ExtractBaseTask.php
  classes/phing/tasks/ext/TarFileSet.php
  classes/phing/tasks/ext/TarTask.php
  classes/phing/tasks/ext/UntarTask.php
  classes/phing/tasks/ext/UnzipTask.php
  classes/phing/tasks/ext/ZipFileSet.php
  classes/phing/tasks/ext/ZipTask.php
  composer.json
  composer.lock
  custom.task.properties
  custom.type.properties
  etc/default.tasks.properties
  etc/default.types.properties
Labels: cleanup, core, ext tasks

#1519 [core] Moved XmlPropertyTask and PharMetadata to system tasks.
  etc/default.tasks.properties
  src/Phing/Task/System/PharMetadata.php
  src/Phing/Task/System/PharMetadataElement.php
  src/Phing/Task/System/PharPackageTask.php
  src/Phing/Task/System/XmlPropertyTask.php
Labels: cleanup, core, system tasks

#1520 Moved svn tasks to own repo
  classes/phing/tasks/ext/svn/SvnBaseTask.php
  classes/phing/tasks/ext/svn/SvnCheckoutTask.php
  classes/phing/tasks/ext/svn/SvnCommitTask.php
  classes/phing/tasks/ext/svn/SvnCopyTask.php
  classes/phing/tasks/ext/svn/SvnExportTask.php
  classes/phing/tasks/ext/svn/SvnInfoTask.php
  classes/phing/tasks/ext/svn/SvnLastRevisionTask.php
  classes/phing/tasks/ext/svn/SvnListTask.php
  classes/phing/tasks/ext/svn/SvnLogTask.php
  classes/phing/tasks/ext/svn/SvnPropgetTask.php
  classes/phing/tasks/ext/svn/SvnProplistTask.php
  classes/phing/tasks/ext/svn/SvnPropsetTask.php
  classes/phing/tasks/ext/svn/SvnRevertTask.php
  classes/phing/tasks/ext/svn/SvnSwitchTask.php
  classes/phing/tasks/ext/svn/SvnUpdateTask.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
Labels: cleanup, core, ext tasks

#1521 Move pdo tasks and path-as-package task to system scope
  etc/default.tasks.properties
  src/Phing/Task/System/Condition/ConditionBase.php
  src/Phing/Task/System/PackageAsPathTask.php
  src/Phing/Task/System/Pdo/DefaultPDOQuerySplitter.php
  src/Phing/Task/System/Pdo/DummyPDOQuerySplitter.php
  src/Phing/Task/System/Pdo/PDOQuerySplitter.php
  src/Phing/Task/System/Pdo/PDOResultFormatter.php
  src/Phing/Task/System/Pdo/PDOSQLExecFormatterElement.php
  src/Phing/Task/System/Pdo/PDOSQLExecTask.php
  src/Phing/Task/System/Pdo/PDOSQLExecTransaction.php
  src/Phing/Task/System/Pdo/PDOTask.php
  src/Phing/Task/System/Pdo/PgsqlPDOQuerySplitter.php
  src/Phing/Task/System/Pdo/PlainPDOResultFormatter.php
  src/Phing/Task/System/Pdo/XMLPDOResultFormatter.php
  tests/Phing/Task/Optional/PDODelimitersTest.php
Labels: cleanup, core, system tasks

#1523 Moved http tasks to own repo.
  classes/phing/tasks/ext/HttpGetTask.php
  classes/phing/tasks/ext/HttpRequestTask.php
  classes/phing/tasks/ext/HttpTask.php
  composer.json
  composer.lock
  custom.task.properties
  etc/default.tasks.properties
  tests/Phing/Task/Optional/BaseHttpTaskTest.php
Labels: cleanup, core, ext tasks
