Repository phingofficial/phing, pull requests merged in 2021-08, with the labels that each got.

#1628 [pdosqlexec] Fixed PHP 8 compat, Code Cleanup and tests
  .gitignore
  composer.json
  composer.lock
  etc/phing-grammar.rng
  src/Phing/Io/BufferedReader.php
  src/Phing/Task/System/Pdo/DefaultPDOQuerySplitter.php
  src/Phing/Task/System/Pdo/DummyPDOQuerySplitter.php
  src/Phing/Task/System/Pdo/PDOQuerySplitter.php
  src/Phing/Task/System/Pdo/PDOSQLExecFormatterElement.php
  src/Phing/Task/System/Pdo/PDOSQLExecTask.php
  src/Phing/Task/System/Pdo/PgsqlPDOQuerySplitter.php
  src/Phing/Task/System/Pdo/PlainPDOResultFormatter.php
  tests/Phing/Task/Optional/PDODelimitersTest.php
  tests/Phing/Task/Optional/PDOTaskTest.php
  tests/etc/tasks/ext/pdo/table.sql
  tests/etc/tasks/ext/pdo/test.xml
Labels: needs documentation, task, cleanup, added tests, PHP compat

#1629 [mkdir] Fixed PHP 8 compat
  src/Phing/Io/FileSystem.php
Labels: PHP compat

#1630 [delete] Removed duplicated log entry
  src/Phing/Task/System/DeleteTask.php
Labels: system tasks, cleanup

#1631 [pdosqlexec] Added more attributes.
  etc/phing-grammar.rng
  src/Phing/Task/System/Pdo/DefaultPDOQuerySplitter.php
  src/Phing/Task/System/Pdo/DummyPDOQuerySplitter.php
  src/Phing/Task/System/Pdo/PDOQuerySplitter.php
  src/Phing/Task/System/Pdo/PDOSQLExecFormatterElement.php
  src/Phing/Task/System/Pdo/PDOSQLExecTask.php
  src/Phing/Task/System/Pdo/PlainPDOResultFormatter.php
  tests/Phing/Task/Optional/PDOTaskTest.php
  tests/etc/tasks/ext/pdo/test.xml
Labels: enhancement, task

#1632 [pdosqlexec] Added failOnConnectionError / Removed obsolete caching attribute
  etc/phing-grammar.rng
  src/Phing/Task/System/Pdo/PDOSQLExecTask.php
  src/Phing/Task/System/Pdo/PDOTask.php
  tests/Phing/Task/Optional/PDOTaskTest.php
  tests/etc/tasks/ext/pdo/test.xml
Labels: enhancement, task, cleanup

#1634 [pdosqlexec] Using traits
  src/Phing/Task/System/Pdo/PDOSQLExecTask.php
Labels: task, cleanup

#1635 [stopwatch] Added test and cleanup.
  src/Phing/Parser/ExpatParser.php
  src/Phing/Task/Optional/StopwatchTask.php
  tests/Phing/Task/Optional/StopwatchTaskTest.php
  tests/Phing/Task/Optional/SymfonyConsoleTest.php
  tests/etc/tasks/ext/StopwatchTaskTest.xml
Labels: task, cleanup, added tests

#1617 Add OpenTask
  .github/workflows/build.yml
  etc/default.tasks.properties
  etc/phing-grammar.rng
  src/Phing/Task/Optional/OpenTask.php
  tests/Phing/Task/Optional/OpenTaskTest.php
  tests/etc/tasks/ext/OpenTaskTest.xml
Labels: enhancement, ext tasks
